.mainContainer {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.textbox {
  width: 85%;
}

.modalBody {
  font-size: xx-large;
  text-align: center;
}

.textCenter {
  text-align: center;
}